*::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: 6rem 16rem 4rem 16rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1%;
}

.card-slot {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    user-select: none;
    color: black;
    font-size: 3rem;
}

.player-card-slot-three, .banker-card-slot-three {
    margin-left: 3rem;
    transform: rotate(90deg);
}

.title{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-style: italic;
}

.text{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid black;
    font-style: italic;
}

.card{
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    font-size: 6rem;
}

.card.red{
    color: red;
}

.card.black{
    color: black;
}

.card::before,
.card::after{
    position: absolute;
    content: attr(data-value);
    font-size: 3rem;

}

.card::before{
    top: .5rem;
    left: .5rem;
}

.card::after{
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}